{% extends 'base_layout.html.twig' %}

{% block title %}{{ 'wallet.view.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'wallet.view.title'|trans }}</h1>

    {% block content %}
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-validate">{{ 'global.save'|trans }}</button>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}